In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

d:\anaconda\envs\deepl\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
data=pd.read_csv('../data/raw/Quote-Equity-BHARTIARTL-EQ-01-01-2025-to-19-10-2025.csv')
data.head()

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,17-Oct-2025,EQ,"1,973.60","2,034.30","1,970.30","1,967.40","2,012.90","2,012.00","2,013.74","2,045.80","1,511.00","67,43,801","13,58,02,90,074.70","2,02,098"
1,16-Oct-2025,EQ,"1,962.30","1,986.90","1,962.00","1,968.50","1,970.20","1,967.40","1,973.83","2,045.80","1,511.00","37,00,674","7,30,45,00,778.70","2,46,779"
2,15-Oct-2025,EQ,"1,957.20","1,976.00","1,951.60","1,946.60","1,967.00","1,968.50","1,965.08","2,045.80","1,511.00","34,47,352","6,77,43,13,245.80","1,32,066"
3,14-Oct-2025,EQ,"1,964.00","1,964.00","1,939.20","1,954.90","1,948.20","1,946.60","1,948.36","2,045.80","1,511.00","44,54,239","8,67,84,47,974.60","1,15,211"
4,13-Oct-2025,EQ,"1,937.90","1,965.90","1,936.00","1,939.90","1,955.00","1,954.90","1,955.22","2,045.80","1,511.00","36,72,419","7,18,03,72,108.10","1,34,124"

In [3]:
data.tail()

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
194,07-Jan-2025,EQ,"1,594.00","1,603.00","1,584.05","1,588.45","1,591.00","1,590.85","1,591.45","1,779.00","1,045.25","28,30,856","4,50,51,79,409.10","1,10,398"
195,06-Jan-2025,EQ,"1,596.15","1,609.85","1,567.10","1,598.85","1,589.35","1,588.45","1,589.02","1,779.00","1,045.25","45,84,188","7,28,43,66,528.40","1,26,704"
196,03-Jan-2025,EQ,"1,615.00","1,617.00","1,593.30","1,609.70","1,594.00","1,598.85","1,601.48","1,779.00","1,007.00","36,69,685","5,87,69,19,268.40","1,28,800"
197,02-Jan-2025,EQ,"1,599.90","1,619.60","1,588.40","1,595.70","1,613.00","1,609.70","1,608.78","1,779.00","1,007.00","37,28,040","5,99,76,12,867.30","1,89,267"
198,01-Jan-2025,EQ,"1,593.00","1,606.55","1,584.05","1,587.75","1,597.95","1,595.70","1,594.42","1,779.00","1,007.00","14,05,565","2,24,10,59,050.30","63,674"